* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.top-line {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-button {
    display: flex;
    justify-content: center;
}

button {
    background: mediumpurple;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

section {
    flex: 0 auto;
    padding: 8px;
}

.coding-quiz {
    font-size: 2em;
}

.coding-quiz,
p {
    text-align: center;
}

/* @media screen and (max-width: 1183px) {
    main {
        flex-direction: column;
    }

    section {
        margin: 20px auto;
        width: 92vw;
    }
}

@media screen and (max-width: 504px) {
    .coding-quiz {
        font-size: 2em;
    }

    header {
        height: 200px;
    }
} */